p {
    text-align: center;
}

#id_p {
    text-align: left;
    color: blue;
}

.verde{
    text-align: right;
    color: green;
}

.rojo{
    text-align: center;
    color: red;
}

.morado{
    color: purple;
}

.large{
    font-size: 25px;
}

h1, h2, p{
    font-family: forte;
}

