<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background</title>
    <style>
        body{
            background: limegreen
             url("/Introduccion_Web-1/multimedia/practica.png") no-repeat;
             ba
        }
    </style>
</head>
<body>
    <h1>Background</h1>
    <p>Algun Texto</p>
    <p>Algun Texto</p>
    <p>Algun Texto</p>
    <p>Algun Texto</p>
    <p>Algun Texto</p>
    <p>Algun Texto</p>
    <p>Algun Texto</p>
    <p>Algun Texto</p>
    <p>Algun Texto</p>
    <p>Algun Texto</p>  
</body>
</html>