<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selectores simples</title>
    <link rel="stylesheet" href="/Introduccion_Web-1/css/estilos_selectores_Simples.css">
</head>
<body>
    <h1>Encabezado h1</h1>
    <h2>encabezado h2</h2>
    <p>Por Nombre</p>
    <p id="id_p">Por id</p>
    <p class="verde">Por clase</p>
    <p class="rojo">Por Nombre y clase</p>
    <p class="morado large">Este parrafo tiene dos clases</p>


    
</body>
</html>