<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visibilidad</title>
    <style>
        h2.a{
            visibility: visible;
            
        }
        h2.b{
            visibility: hidden;
        }
      
    </style>
</head>
<body>
    <h2 class="a">Este Texto es Visible</h2>
    <h2 class="b">Este Texto NO es visible</h2>
    <p>Nota:Los elementos Aun que no este Visble Ocupara espacio</p>
</body>
</html>