<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagenes</title>
</head>
<body>
    
    <img src="/Introduccion_Web-1/multimedia/html.png" alt="Logo HTML">
    <!--Imagenes asignandoles tamanos-->
    <img src="/Introduccion_Web-1/multimedia/html.png" alt="Logo HTML" height="100" width="50">
    <!--Imagenes con las url-->
    <img src="https://disenowebakus.net/imagenes/articulos/historia-y-origen-de-html.jpg" alt="HTML" >

</body>
</html>